*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

section{
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-bottom: 20px;

}
section{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
a{
    color:#3498db;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

.botao-primario{
    display: inline-block;
    background-color: #3498db;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
 
}

.botao-primario:hover{
    background-color: #2980b9;
    text-decoration: none;
}

